// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

#admin-page {
  padding-top: 0px;
}
.m{
  margin-left: 50px;
}

#nested-comment{
  margin-top: 35px;
}

.comment-reply{
  display: none;
}

.btn-expantion{
  margin-left: 25px;
}